.cover__subheader {
    width: 360px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 32px 0 0 0;
    z-index: 3;
}

@media (max-width: 767px) {
    .cover__subheader {
        font-size: 14px;
        line-height: 1.1428;
        max-width: 90vw;
        margin: 16px 0 0 0;
    }
}