.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.61;
    margin: 0 0 26px 0;
}

.place__paragraph:last-of-type {
    margin: 0;
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.625;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.625;
        min-width: 352px;
    }    
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .place__paragraph {
        min-width: 456px;
    }    
}