.lead__subtitle {
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    margin: 0 auto 64px;
    max-width: 640px;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin: 0 auto 40px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .lead__subtitle {
        font-size: 5vw;
        line-height: 6.25vw;
        max-width: 100%;
        margin: 0 auto 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
}
