.cover {
    margin: 0 auto 92px;
    max-width: calc(100% - 48px*2);
    height: 740px;
    display: flex;
    background-image: url("../../images/cover-trains.jpg"), linear-gradient(rgba(42,44,47,0.3),rgba(42,44,47,0.3));
    background-blend-mode: overlay;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.cover:hover {
    background-image: url("../../images/cover-trains.jpg"), linear-gradient(rgba(42,44,47,0.8),rgba(42,44,47,0.8));
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 100%;
        height: 200px;
    }
}