.cover {
    margin: 92px auto 0;
    width: 1184px;
    height: 740px;
    display: flex;
    background-image: url("../../images/cover-trains.jpg"), linear-gradient(rgba(42,44,47,0.3),rgba(42,44,47,0.3));
    background-blend-mode: overlay;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cover:hover {
    background-image: url("../../images/cover-trains.jpg"), linear-gradient(rgba(42,44,47,0.8),rgba(42,44,47,0.8));
}